header{
    nav{
    background-color: rgb(59, 59, 64);
    }
}

a.navbar-brand {
    color: aqua !important;
}


a.nav-link.active {
    color:  white !important;
}

a#navbarDropdown.nav-link.dropdown-toggle {
    color:  white !important;
}