@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Teko:wght@500;600&display=swap');

//* Reset

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
section{
    div{
        .titulo{
            font-family: 'Teko', sans-serif;
            text-align: center;
            font-size: 80px;
            margin-bottom: 0;
        }
    }
}



section{
    div{
        .parrafo{
            margin: 5%;
        }
    }
}



//*Formulario

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    resize: vertical;
}


