$color-primario: black;
$color-secundario: white;
$color-terciario:  rgb(59, 59, 64);
$color-cuaternario:  #f2f2f2;

$font-size: 
3rem, 
40px, 
60px;

%flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




